body {
  padding: 0px;
  width: 90%;
  margin: auto;
  /*background-color: grey;*/
}

/*NAV*/

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  padding: 5px;
  background-color: #60c5e7;
  border-radius: 8px;
  border: solid 1px #60c5e7;
}

.menu ul li:hover {
  background-color: transparent;
  border-radius: 8px;
  border: solid 1px #60c5e7;
}

.menu ul li a {
  color: black;
  text-decoration: none;
}

/* TABLE */

.divTabla {
  height: 430px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-bottom: 40px;
  max-width: 1020px;
  border: solid 10px rgb(179, 177, 177);
  border-radius: 10px;
}

.table-header {
  background-color: #60c5e7;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.table-header th {
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  text-align: center;
  padding: 10px;
  width: 200px;
}

.table-row {
  box-shadow: 5px 2px 9px 0px rgba(0, 0, 0, 0.1);
}
/*CODIGO DESPLEGABLE*/


#dropdown {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  color: white;
  max-height: 600px;
  background-color: white;
  width: 500px;
}


#dropdown input{
  background-color:#60c5e7;
  padding: 2px;
  margin: 3px;
  border: solid 1px #60c5e7;
  border-radius: 10px;
}

#dropdown input:hover{
  background-color:transparent;
  border: solid 1px #60c5e7;
  border-radius: 10px;
}

.dropdown {
  background-color: #60c5e7;
  display: inline-block;
  border-radius: 8px;
  border: solid 1px #60c5e7;
}

.dropdown:hover {
  background-color: transparent;
  border-radius: 8px;
  border: solid 1px #60c5e7;
}
.dropdown button:hover,
dropdown-btn:hover
  {
  color: black;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
}

.dropdown-items {
  position: absolute;
  margin-top: 5px;
}

.dropdown-btn::after {
  content: "\25BC";
}
.dropdown.show .dropdown-btn:after {
  content: "\25B2";
}
